 .pic{
        background-color: maroon
        width: 400px;
        padding: 20px;
        position: relative;
 }
.bottom{
        position: relative;
        bottom: 50px;
        text-align: left;
        font size: 30px;
        color: white;
        font-family: Apple Chancery;
        text-shadow: 2px 2px #000000;
}
a{
    color:red
}
